body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    line-height: 24px;
}

html,
body {
    height: 100%;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
	40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
	60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
	40% {
    transform: translateX(-30px);
  }
	60% {
    transform: translateX(-15px);
  }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
	40% {
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
	60% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}